<template>
  <v-layout>
    <v-flex xs6 pr-2 v-if="isUserLoggedIn">
      <song-bookmarks></song-bookmarks>

      <recently-viewed-songs 
      class="pt-2"
      ></recently-viewed-songs>
      
    </v-flex>
    <v-flex 
    :class="{
      xs12: !isUserLoggedIn,
      xs6: isUserLoggedIn
    }"
    xs6 pr-2>
      <song-search-panel class="mb-2"></song-search-panel>
      <songs-panel></songs-panel>
      
    </v-flex>
  </v-layout>
</template>

<script>
import {mapState} from 'vuex'
import RecentlyViewedSongs from './View/RecentlyViewedSongs'
import SongBookmarks from './View/SongBookmarks'
import SongSearchPanel from './SongSearchPanel'
import SongsPanel from './SongsPanel'
import SongsService from '@/services/SongsService'
export default {
  components: {
    SongsPanel,
    SongSearchPanel,
    SongBookmarks,
    RecentlyViewedSongs
  },
  computed: {
    ...mapState([
      'isUserLoggedIn',
      'user'
    ])
  },
  data () {
    return {
      songs: null
    }
  },
  methods: {
    navigateTo (route) {
      this.$router.push(route)
    }
  },
  async mounted () {
    this.songs = (await SongsService.index()).data
  }
}
</script>

<style scoped>
.song {
  padding: 20px;
  height: 330px;
  overflow: hidden;
}
.song-title {
  font-size: 30px;
}
.song-artist {
  font-size: 24px;
}
.song-genre {
  font-size: 18px;
}
.album-image {
  width: 70%;
  margin: 0 auto;
}
</style>