<template>
  <panel title="Song Lyrics">
     <textarea rows="10"
            readonly>{{song.lyrics}}</textarea>
  </panel> 
</template>

<script>
export default {
  props: ['song'],
  components: {
  }
}
</script>
<style scoped>
  /* .song-title {
    float: left;
    width: 100%;
  }
  .image-div {
    float: left;
    width: 100%;
  } */
  textarea {
    width: 80%;
    font-family: monospace;
    border: none;
    height: 340px;
    border-style: none;
    border-color: transparent;
    overflow: auto;
    padding: 40px;
  }
</style>
