<template>
  <panel title="Song Meta Data">
        <v-layout>
          <v-flex xs6 style="height:345px">
            <div class="song-title">
              <h6>{{song.album}}</h6>
              <h6>{{song.artist}}</h6>
              <h6>{{song.genre}}</h6>

            </div>

            <v-btn 
             color="primary"
             :to="{
              name: 'Songs-Edit',
              params: {
                 songId: song.id
               }
              }">Edit</v-btn>


             <v-btn 
              v-if="isUserLoggedIn && !bookmark"
             color="primary"
             @click="setAsBookmark">Bookmark</v-btn>

             <v-btn 
             v-if="isUserLoggedIn && bookmark"
             color="primary"
             @click="unsetAsBookmark">Unbookmark</v-btn>
          </v-flex>



        <v-flex xs6>
            <div class="image-div">
            <img :src="song.albumImageUrl" style="widht:80px;height:80px" alt="">
            <h6>{{song.title}}</h6>
            </div>
        </v-flex>


        </v-layout>
   </panel>
</template>

<script>
import {mapState} from 'vuex'
import BookmarksService from '@/services/BookmarksService'
export default {
  props: ['song'],
  data () {
    return {
      bookmark: null
    }
  },
  methods: {
    async setAsBookmark () {
      try {
        this.bookmark = (await BookmarksService.post({
          songId: this.song.id
        })).data
      } catch (error) {
        console.log('bookmark ', error)
      }
    },
    async unsetAsBookmark () {
      try {
        await BookmarksService.delete(this.bookmark.id)
        this.bookmark = null
      } catch (error) {
        console.log('bookmark ', error)
      }
    }
  },
  components: {
  },
  computed: {
    ...mapState([
      'isUserLoggedIn',
      'user'
    ])
  },
  watch: {
    async song () {
      if (!this.isUserLoggedIn) {
        return
      }
      try {
        const bookmarks = (await BookmarksService.index({
          songId: this.song.id
        })).data
        if (bookmarks.length) {
          this.bookmark = bookmarks[0]
          console.log(this.bookmark)
        }
      } catch (error) {
        console.log('bookmark', error)
      }
    }
  }
}
</script>



