<template>

   <v-layout>
     <v-container>

       <v-layout>
          <v-flex xs6>
             <song-metadata :song="song" />
          </v-flex>

          <v-flex xs6 pl-2>
            <lyrics-metadata :song="song" />
          </v-flex>
       </v-layout>

       <v-layout>
         <v-flex xs6 pt-2>
           <tabs-metadata :song="song" />
         </v-flex>

         <v-flex xs6 pt-2 pl-2>
           <youtube-metadata :youtubeId="song.youtubeId" />
         </v-flex>

       </v-layout>
       
     </v-container>
   </v-layout>

  
</template>

<script>
import {mapState} from 'vuex'
import LyricsMetadata from '@/components/Songs/View/Lyrics'
import TabsMetadata from '@/components/Songs/View/Tabs'
import SongMetadata from '@/components/Songs/View/Song'
import YoutubeMetadata from '@/components/Songs/View/Youtube'
import SongHistoryService from '@/services/SongHistoryService'
import SongsService from '@/services/SongsService'
export default {
  data () {
    return {
      song: {}
    }
  },
  computed: {
    ...mapState([
      'isUserLoggedIn',
      'user',
      'route'
    ])
  },
  async  mounted () {
    const songId = this.route.params.songId
    this.song = (await SongsService.show(songId)).data
    if (this.isUserLoggedIn) {
      SongHistoryService.post({
        userId: this.user.id,
        songId: songId
      })
    }
  },
  components: {
    SongMetadata,
    YoutubeMetadata,
    TabsMetadata,
    LyricsMetadata
  }
}
</script>

<style scoped>
  /* .song-title {
    float: left;
    width: 100%;
  }
  .image-div {
    float: left;
    width: 100%;
  } */
  textarea {
    width: 80%;
    font-family: monospace;
    border: none;
    height: 340px;
    border-style: none;
    border-color: transparent;
    overflow: auto;
    padding: 40px;
  }
</style>

