<template>
  <panel title="Youtube">
       <youtube 
      :video-id="youtubeId"
      :player-width="380"
      :player-height="200"></youtube>     
            
  </panel> 
</template>

<script>
export default {
  props: ['youtubeId'],
  components: {
  }
}
</script>
