<template>
   <v-toolbar fixed dark color="primary">
    <v-toolbar-title class="white--text">
        
        <router-link 
        style="cursor:pointer"
        class="home"
        tag="span"
        :to="{
           name: 'root'
          }">
        Tab Tracker
        </router-link>

    </v-toolbar-title>

    <v-toolbar-items>
      
        <v-btn 
        flat dark class="white--text"
        :to="{
           name: 'Songs'
          }">Browse</v-btn>

        
        
    </v-toolbar-items>
    <v-spacer></v-spacer>

    <v-toolbar-items>
         
        <v-btn 
        v-if="!$store.state.isUserLoggedIn"
        flat dark class="white--text"
        :to="{
           name: 'Login'
          }">Sign In</v-btn>

        <v-btn 
        v-if="!$store.state.isUserLoggedIn"
        flat dark class="white--text"
        :to="{
           name: 'Register'
          }">Sign Up</v-btn>

        <v-btn 
        v-if="$store.state.isUserLoggedIn"
        flat dark class="white--text"
        @click="logout">Log Out</v-btn>
           
        
    </v-toolbar-items>

  </v-toolbar>
</template>



<script>
export default {
  data () {
    return {
    }
  },
  methods: {
    navigateTo (route) {
      this.$router.push(route)
    },
    logout () {
      this.$store.dispatch('setToken', null)
      this.$store.dispatch('setUser', null)
      this.$router.push({name: 'root'})
    }
  }
}
</script>

<style scoped>
  
</style>