<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card>
          <v-card-media
        class="white--text"
        height="50px"
        src="http://infraredcda.com/images/img_top2.jpg">
        <v-container fill-height fluid>
            <v-layout fill-height>
              <v-flex xs12 align-end flexbox>
                
                <span class="black--text headline">User Registration</span>
                
              </v-flex>
              
            </v-layout>
          </v-container>

        </v-card-media>

       <v-container>
          <v-layout>
          <v-flex>
            <v-text-field
              type="email" 
              name="email"
              v-model="email"
              placeholder="email"
              required
            ></v-text-field>


            <v-text-field
              type="password" 
              name="password"
              v-model="password"
              placeholder="password"
              required
            ></v-text-field>  
          </v-flex>  
        </v-layout>     
       </v-container>  

        <div class="error" v-if="error">{{error}}</div>

        <v-card-actions>
          <v-btn 
          color="primary"
          @click="register"
          >Register</v-btn>
        </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>



<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      email: '',
      password: '',
      error: null
    }
  },
  methods: {
    async register () {
      try {
        const response = await AuthenticationService.register({
          email: this.email,
          password: this.password
        })
        this.$store.dispatch('setToken', response.data.token)
        this.$store.dispatch('setUser', response.data.user)
        this.$router.push({
          name: 'Songs'
        })
      } catch (error) {
        this.error = error.response.data.error
      }
    }
  }
}
</script>

<style scoped>
.error { 
  color: white;
}
</style>